.leftSide {
  display: flex;
}

.commonClass {
  display: flex;
  cursor: pointer;
  .icon {
    color: rgb(236, 69, 62);
    margin-right: 4px;
  }
  .text {
    font-weight: 600;
    font-size: 14px;
  }
}
