.headerTopWrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  img {
    cursor: pointer;
    height: 36px;
    width: 134px;
    margin-top: 2px;
    margin-right: 45px;
  }
  form {
    width: -webkit-fill-available;
  }
  .icon {
    position: relative;
    cursor: pointer;
    top: 8px;
    right: 30px;
  }
}
