.modalWrap {
  position: relative;
  .head {
    color: #004daa;
  }
  .modalListWrap {
    display: flex;
    ul {
      position: absolute;
      top: 15px;
      width: 200px;
      padding: 0;
      background-color: #212425;
    }
    .detail {
      position: absolute;
      top: 0;
      left: 180px;
    }
  }
}
