.headerBottomWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  .leftSide {
    display: flex;
    .categoryWrap {
      @extend .commonClass;
      padding-right: 10px;
    }
    .brandWrap {
      @extend .commonClass;
      padding-left: 10px;
    }
  }
}

.rightSide {
  .login {
    margin-right: 25px;
    margin-left: 11px;
  }
}

.commonClass {
  display: flex;
  cursor: pointer;
  .icon {
    color: rgb(236, 69, 62);
    margin-right: 4px;
  }
  .text {
    font-weight: 600;
    font-size: 14px;
  }
}
